/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
     -fx-background-color: black;
}

.button {
	-fx-background-radius: 5em;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-max-width: 60px;
	-fx-max-height: 60px;
    -fx-font-family: "Arial Narrow";
}

#button-c {
	-fx-background-color: #d6d6d6;
	-fx-font-size: 30px;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#button-ctrl {
	-fx-background-color: orange;
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#button-number {
	-fx-background-color: #434343;
	-fx-font-size: 32px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#text-result-textflow {
	-fx-background-color: gray;
	-fx-background-radius: 1.8em;
}